.cu_margine {
    border: 1px solid black;
    width: 500px;
    margin: auto;
    margin-top: 250px;
    padding: 50px;
    border-radius: 5px;
}
button {
    border: none;
    padding: 10px;
    border-radius: 10px;
}